.login-form-container {
  width: 300px;
  margin: 20px;
}

.login-form-section {
  display: flex;
  justify-content: space-between;

  margin: 20px 0;
}

.login-form-buttons {
  display: flex;
  justify-content: flex-end;
}

#login-button {
  margin-left: 20px;
}
