/RateThisApp/node_modules/
.idea/.gitignore
.idea/Angular.iml
.idea/jsLibraryMappings.xml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/inspectionProfiles/Project_Default.xml
AngularEndavaTraining/ng-goodreads
