<div class="user-profile-container">
  <h1>Welcome, {{user.name}}!</h1>
  <div class="user-posts">
    <h3>Your posts: </h3>
    <div *ngFor="let post of posts" class="collapsible-post-container">
      <app-collapsible-post [title]="post.title" >
        <div post-title>
          {{post.title}}
          <span class="funny-face" *ngIf="post.categories.includes('funny')">:)</span>
        </div>

        <div post-body>
          <div>{{post.categories}}</div>
          <div>{{post.info.date | date:"dd-MM-yyyy"}}, {{post.info.time}}</div>
          <div>{{post.info.location}}</div>
          <div>{{post.description}}</div>
        </div>
      </app-collapsible-post>
    </div>
  </div>
</div>
