<div class="user-profile-container">
  <h1>Welcome, {{user.name}}!</h1>
  <div class="user-posts">
    <h3>Your posts: </h3>
    <div class="sorting-container" *ngIf="posts.length > 0">
      <label for="sorting-buttons" class="sorting-buttons-label">Sort by:</label>
      <span id="sorting-buttons">
        <button
          class="sorting-button"
          [ngClass]="{active: sortedByTitle}"
          (click)="handleSortByNameButtonClick()"
        >title</button>
        <button
          class="sorting-button"
          [ngClass]="{active: sortedByFunny}"
          (click)="handleSortByFunnyButtonClick()"
        >funny</button>
      </span>
    </div>

    <div *ngFor="let post of posts" class="collapsible-post-container post-elem">
      <app-collapsible-post [title]="post.title">
        <div post-title>
          {{post.title}}
          <span class="funny-face" *ngIf="post.categories.includes('funny')">:)</span>
        </div>

        <div post-body>
          <div>{{post.categories}}</div>
          <div>{{post.info.date | date:"dd-MM-yyyy"}}, {{post.info.time}}</div>
          <div>{{post.info.location}}</div>
          <div>{{post.description}}</div>
        </div>
      </app-collapsible-post>
    </div>
  </div>

  <div *ngIf="posts.length == 0" class="no-posts-container">
    <h4>You didn't post anything yet.</h4>
  </div>
  <div class="return-button-container">
    <button (click)="navigateToDasboard()">Return to dashboard</button>
  </div>
</div>
