.dashboard-container {
    margin: 20px;
}

.row {
  border: 1px solid red;
}

.search-bar-label {
  margin-right: 20px;
}

.search-bar-container {
  margin: 20px 0;
}

#search-bar {
  margin-right: 20px;
}
