<div class="dashboard-container">
  <h1>Posts Dashboard</h1>
  <div class="search-bar-container">
    <label for="search-bar" class="search-bar-label">Search: </label>
    <input
      id="search-bar"
      type="text"
      [(ngModel)]="searchString"
      placeholder="Post title..."
      autocomplete="off"
    >
    <button
      appModalTrigger
      (click)="handlePostSearch()"
    >Search</button>
  </div>
  <div class="dashboard-list">
    <div class="row">
      <div *ngFor="let post of posts" class="col-md-5">
        <app-post-component [post]="post"></app-post-component>
      </div>
    </div>
  </div>
</div>

<app-simple-modal title="Posts found">
  <!--
  ce am intre tagurile de aici este ce se afiseaza in loc de ng-content in template-ul componentei cu
  selectorul app-simple-modal
  -->
  <div class="list-group">
    <a class="list-group-item" *ngFor="let post of foundPosts" [routerLink]="['/post', post.id]">{{post.title}}</a>
  </div>
</app-simple-modal>


