.dashboard-container {
    margin: 20px;
}

.search-bar-label {
  margin-right: 20px;
}

.search-bar-container {
  margin: 20px 0;
}

#search-bar {
  margin-right: 20px;
}

.modal-item {
  background-color: lightskyblue;
  color: black;

  margin: 5px;
}

.modal-item:hover {
  background-color: darkblue;
  color: white;

  cursor: pointer;
}

.item-container {
  cursor: pointer;
}
