<div class="post-overview-container">
    <h1>{{post.title}}</h1>
    <div>
        <h3>Posted by {{post.user}}</h3>

        <div class="post-details">
            Categories: <span *ngFor="let category of post.categories"> {{category}}</span>
            <div *ngIf="post?.info">
                <div>Time: {{post.info.time}}</div>
                <div>Date: {{post.info.date}}</div>
                <div>Location: {{post.info.location}}</div>
            </div>
        </div>

        <h3>Content </h3>
        <div>{{post.description}}</div>
    </div>
</div>