<h1>ES6 Samples</h1>
<ul>
    <li><a routerLink='/samples/arrowFunctions'>Arrow Functions</a></li>
    <li><a routerLink='/samples/classes'>Classes</a></li>
    <li><a routerLink='/samples/destructuring'>Destructuring</a></li>
    <li><a routerLink='/samples/maps'>Maps</a></li>
    <li><a routerLink='/samples/parameters'>Parameters</a></li>
    <li><a routerLink='/samples/pipes'>Pipes</a></li>
    <li><a routerLink='/samples/scopeAndLet'>Scope and Let</a></li>
    <li><a routerLink='/samples/sets'>Sets</a></li>
    <li><a routerLink='/samples/templateStrings'>Template Strings</a></li>
    <li><a routerLink='/samples/weakMapWeakSet'>WeakMap/WeakSet</a></li>
</ul>